*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family:NotoSans;
    src:url(.//fonts/NotoSans-Regular.ttf)
}
@font-face{
    font-family:Nunito;
    src:url(.//fonts/Nunito-Regular.ttf)
}
@media screen and (max-width:1440px){
    body{
        width:fit-content;
    }
    
}
body{
    background-color: #F5F5F5;
}
.block-1{
    height: 1156px;
    background-image: url(images/Banner-Image.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
.mein-conteiner{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.mein-cont{
    position: relative;
    display: flex;
    justify-content: center;
}
.conteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  
}
.cont-block-1-1{
    width: 1200px;
    margin-bottom: 60px;
    
}
.block-1-1-cont{
    width: 1703px;
    height: 801px;
    position: absolute;
    background-image: url(images/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-block{
    width: 1200px;
    display: flex;
    align-items: center;
    padding-top: 61px;
    margin: 0 auto;
    
}
.logo-1 img{
    width: 211px;
    height: 81.16px;
    margin-right: 175px;
}
.menu-block{
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.menu-block > a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #5956E8;
    transition: all .3s;
    border-radius: 50px;
}
.menu-block > a:hover{
    cursor: pointer;
}
.menu-block > a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #FFDC60;
    transition: all .3s;
    border-radius: 50px;
}
.menu-block > a:hover::before{
    width: 100%;
    transition-delay:.1s;
}
.menu-block > a:hover::after{
    width: 50%;
}
.pages > .nav-home::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #5956E8;
    transition: all .3s;
    border-radius: 50px;
}
.pages > .nav-home:hover{
    cursor: pointer;
}
.pages> .nav-home::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-color: #FFDC60;
    transition: all .3s;
    border-radius: 50px;
}
.pages > .nav-home:hover::before{
    width: 100%;
    transition-delay:.1s;
}
.pages> .nav-home:hover::after{
    width: 50%;
}

.nav-home{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    text-decoration: none;
    color: #292930;
    position: relative;
}
.pages{
    display: flex;
    align-items: center;
}
.dropdown {
    position: relative;
    display: inline-block;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0d1d1;
    width: 150px;
    z-index: 1;
    border-radius: 10px;
}
  
  .dropdown-content a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;

  }
  .dropdown-content a:hover {
    background-color: rgb(121, 97, 228);
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  
.pages img{
    Width:14px;
    Height:14px;
    margin-left: 10px;
}
.nav-login{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    text-decoration: none;
    color: #292930;
    margin-left: 58px;
    margin-right: 43px;
}
.head-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 64px;
    background: #292930;
    border-radius: 7px;
}
.Get-started{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    text-decoration: none;
}
.block-1-1{
    width: 550px;

    
}
.xaz{   
    color:#FEC90C;
    font-family:NotoSans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
}
.Agency{
    color:#292930;
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.fully{
    font-family:Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;
    color: #292930;
    margin-bottom: 34px;
}
.marketing{
    font-family:Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;
    color:#5956E8;
}
.lorem{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    line-height: 156.5%;
    color: #555555;
    margin-bottom: 34px;
}
.buttons{
    display: flex;
}
.Servic-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 64px;
    border-radius: 7px;
    margin-right: 20px;
}
.Services{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    color: #292930;
    text-decoration: none;
    
}
.Get-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 64px;
    border-radius: 7px;
}
.Get{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    color: #292930;
    text-decoration: none;
}
.Servic-button:hover{
    cursor: pointer;
    background-color: #292930;
    color: #FFFFFF;
}
.Servic-button:hover a{
    color: #FFFFFF;
}
.block-2{
    background-color: #292930;
    height: 1579px;
    padding-top: 173px;
}
.conteiner-2{
    width: 1200px;
    margin: 0 auto;
}
.head-cont{
    display: flex;
    margin-bottom: 90px;

}
.image-1{
    width: 88px;
    height: 88px;
    margin-right: 39px;
}
.vector-2-1{
    width: 14px;
    height: 14px;
}
.High-impact{
width: 620px;
}
.High-impact p{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #D0D0D0;
    margin-bottom: 15px;
}
.impact{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%;
    color: #FFFFFF;
}
.Servic-btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 62px;
    background: #FFFFFF;
    border-radius: 7px;
    margin-top: 61px;
    margin-left: 279px;
}
.Services-1{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;  
    color:#292930;
    text-decoration: none;
}
.middle-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}
.first-cont{
    width: 352px;
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;
    
}
.first-cont-1{
    width: 274px;
    height: 393px;

}
.Social{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-top: 26px;
    margin-bottom: 14px;
}
.Lorem-ipsum{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #D0D0D0;
    margin-bottom: 26px;
}
.Servic-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 62px;
    border: 1px solid #424245;
    border-radius: 7px;
    background:transparent;
}
.Servic-btn:hover{
    cursor: pointer;
    background-color: #FFDC60;
}
.Servic-btn:hover .Services {
    color: #292930;
}
.Servic-btn:hover .vector-2 {
    filter: invert(29%) sepia(71%) saturate(3029%) hue-rotate(233deg) brightness(96%) contrast(89%);
}
.Services{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    color: #525255;
    text-decoration: none;
}
.vector-2{
    width: 14px;
    height: 14px;
    margin-left: 8px;
}
.block-3{
    height: 1062px;
}
.conteiner-3{
    width: 1200px;
    margin: 0 auto;
}
.conteiner-3-1{
    display: flex;
    justify-content: center;
    padding-top: 94px;
}
.head-content img{
    display:block;
    margin: auto;
}
.head-content p{
   margin-top: 34px;
   margin-bottom: 14px;
   font-family:NotoSans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #292930;
}
.xaz-blue{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #5956E8;

}
.Flexible{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%;
    text-align: center;
    color: #292930;
}
.conteiner-3-2{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    
}
.first{
    width: 389px;
    height: 554px;
    background-color:#E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first:hover{
    cursor: pointer;
    background-color: #292930;
}
.first:hover .starter-1 h2{
    color: #FFFFFF;
}
.first:hover .starter-1 span{
    color: #FFFFFF;
}
.first:hover .starter-1 p{
    color: #FFFFFF;
}
.first:hover .middle-content-1 p{
    color: #FFFFFF;
}
.first:hover .Purchase-btn{
    background-color: #F6F6F6;
}
.first:hover .Purchase{
    color:#292930;
}
.popular-btn{
    position: absolute;
    width: 89px;
    height: 40px;
    background: #FFDC60;
    border-radius: 9px;
    margin-left: 278px;
    margin-bottom: 475px;
    border: transparent;
}

.first-head{
    display:flex;
    align-items: center;

}
.first-head img{
 margin-right: 34px;
}
.starter{
    font-family:Nunito;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 110.5%;
    color: #292930;
    margin-bottom: 7px;
}
.starter-1 p{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 244%;
    text-align: center;
    color: #555555;
}
.cost-29{
    font-family:Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110.5%;
    text-align: center;
    color: #292930;
    margin-right: 10px;
}
.hr-1{
    width: 302px;
    height: 0px;
    border: 1px solid #D3D3D3;
    margin-top: 35px;
    margin-bottom: 30px;
}
.middle-content-1{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 244%;
    color: #555555;
}
.middle-content-1 p img{
   margin-right: 9px;
}
.Purchase-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 313px;
    height: 64px;
    background: #292930;
    border-radius: 7px;
    margin-top: 20px;
}
.Purchase{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
.block-4{
    height: 1034px;
    background-color: #292930;
    padding-top: 191px;
}
.conteiner-4{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.conteiner-4-1{
    width: 399px;
    height: 652.16px;
    background-color: #3C3C45;
    margin-right: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-4-1{
    width: 293px;
    height: 554.16px;
}
.content-4-1 h3{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-top: 18px;
   
}
.content-4-1 p{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #D0D0D0;
}
.Email-btn{
    width: 293px;
    height: 62px;
    background: #FFDC60;    ;
    border-radius: 7px;
    border: transparent;
}
.Subscribe{
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #292930;
    text-decoration: none;
}
.input-items{
    width: 293px;
    height: 62px;
    background: #5B5B61;
    border-radius: 7px;
    margin-bottom: 18px;
    margin-top: 18px;
}
input{
    width: 293px;
    height: 62px;
    background-color: #5B5B61;
    border: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #FFFFFF;
}
input::placeholder {
    font-family:Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.conteiner-4-2{
    width: 702px;
    height: 645px;
}
.per-info{
    background-color: #292930;
    display: flex;
    width: 662px;
    height: 152px;
    justify-content: space-between;
}
.per-info-1 p{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #FFFFFF;
    padding-left: 5px;
}
.phone-numb{
    display: flex;
}
.phone-numb h2{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-left: 6px;
}
.phonenumber-btn{
    width: 255px;
    height: 62px;
    background: #3C3C45;
    border-radius: 7px;
    border: transparent;

    font-family:NotoSans;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 156.5%;
    color: #FFDC60;
    margin-top: 17px;
    margin-bottom: 17px;
}
.per-info-2{
    width: 297px;
    height: 152px;
}
.location{
    display: flex;
}
.location h2{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-left: 6px;
} 
.per-info-2 p{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.loca-tion{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    text-decoration-line: underline;
    color: #FFDC60;
}
.hr-2{
    width: 702px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #727274;
}
.footer-menu{
   display: flex;
}
.footmenu{
    display: flex;
}
.footmenu h2{
    font-family:Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
    margin-left: 7px;
}
.footmenu-home{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 211.5%;
    color: #FFFFFF;
    text-decoration: none;
}
.menu-content{
    margin-top: 30px;
}
.footer-menu-2{
    margin-right: 111px;
    margin-left: 111px;
}
.footmenu{
    display: flex;
    
}
.menu-content-1{
    margin-top: 30px;
}
.menu-content-2{
    margin-top: 30px;
}
.hr-3{
    width: 702px;
    margin-top: 50px;
    margin-bottom: 17px;
    border: 1px solid #727274;
}
#Copyright{
    font-family:NotoSans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 211.5%;
    color: #FFFFFF;
    margin-left: 48px;
}